/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #020f47 !important; /* Tving blå fordi den ikke fungerer med bakgrunn! rart! */
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: white;
}

.parent-login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.top-admin-link {
  position: absolute;
  right: 40px;
  top: 25px;
  font-size: 16px;
}

.parent-logo {
  width: 340px;
  margin-bottom: 10px;
  display: block;
}

.tagline {
  font-size: 18px;
  margin-bottom: 40px;
  opacity: 0.9;
}

.login-card {
  width: 90%;
  max-width: 500px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 18px;
}

.input-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  font-size: 18px;
}

.input-field {
  width: 100%;
  padding: 14px 14px 14px 42px;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  outline: none;
  background: white;
  color: #333;
}

.input-field::placeholder {
  color: #b0b0b0;
}

.btn-primary {
  width: 60%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #ff8b4e;
  color: white;
  font-size: 16px;
  transition: background-color 0.25s ease;
}

.btn-primary:hover {
  background-color: #062b9c;
}

.btn-orange {
  width: 70%;
  padding: 12px;
  margin-top: 35px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #ff8b4e;
  color: white;
  font-size: 16px;
  transition: background-color 0.25s ease;
}

.btn-orange:hover {
  background-color: #ffa974;
}

.forgot-link {
  display: block;
  margin-top: 25px;
  font-size: 15px;
  color: white;
}

/* GLOBAL LINK STYLE (GJELDER ALLE LENKER) */
a,
a:visited {
  color: white !important;
  text-decoration: none;
}

a:hover {
  color: #7da6ff !important;
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}
